	<div>
	<h2>Problem&aacute;tica</h2>
	<p>Queremos tratar la tem&aacute;tica de disminuir el consumo de drogas en los colegios. Como padres y/o ciudadanos
		podriamos anticiparnos a esta problematica evitando que futuras generaciones sigan sufriendo de este inconveniente
		que afecta tanto a la comunidad como a sus seres cercanos</p>
	</div>
	<div>
		<h2>Descripción</h2>
		<p>
			Con el propósito de desarrollar la problem&aacute;tica se propone realizar una página web, en la cual se pretende informar a la
			población involucrada (padres, docentes, psicólogos y estudiantes) acerca de cómo reducir en consumo de drogas
			en los colegios. Tambien se ofrecerá un conjunto de herramientas las cuales se detallan a continuaci&oacute;n:
			<ul>
				<li>Encuesta para Diagnosticar si una persona es propensa al consumo de drogas.</li>
				<li>Encuesta para Determinar Niveles del Continuo del Consumo de Drogas.</li>
			</ul>
		</p>
		<p>Una aplicación digital que permita a usuarios acceder a informacion sobre las sustancias nocivas existentes, Ubicacion
			de centros de tratamiento y una entrevista sobre conductas y comportamientos que pueda identificar un perf&iacute;l
			de consumo </p>
			<p>En pro de disminuir el consumo de drogas en los jovenes, se propone crear un app que permita interactuar en linea
				con personas que ha sido reahabilitadas y reintegradas a la sociedad, donde tambien puedan recibir consejos de
				profesionales en el tema y que permita a estas personas que quieren salir o estan empezando, concientizarse de
				los daños fisicos, psicologicos, familiares, etc. que pueden conllevar el consumo de sustancias nocivas.
			</p>
			<P>A quien va dirigido : A PADRES, INSTITUCIONES EDUCATIVAS, CONSUMIDORES, POLICIA NACIONAL, ALCALDIAS</P>
			<DIV>
				<UL>
					<LI>Descripci&oacute;n de Sustancias conocidas: En esta &aacute;rea se encuentra a diario actualizaci&oacute;n de informaci&oacute;n
					</LI>

					<%= image_tag('sustancias.png') %>
					<LI>Centros de ayuda de tratamiento</LI>
					<LI>Encuesta de comportamiento</LI>
				</UL>
			</DIV>
			<br/>
		</div>
		<h2>Informaci&oacute;n adicional</h2>
		<p>¿Como evitar que un niño que ya consume drogas, limite a 0 su consumo?</p>
		<p>Se pueden sugerir actividades extracurriculares que sean de agrado para el niño/adolescente como:
			<ul>
				<li>Apoyar el deporte</li>
				<li>Incentivar el crecimiento financiero de un adolescente a traves de generacion de empresas o actividades econ&oacute;micas</li>
				<li>Apoyar el aprendizaje de algun instrumento musical</li>
				<li>Limitar el acceso a plataformas web como Youtube o Facebook (control parental)</li>
				<li>Fomentar la educación</li>
				<li>La educaci&oacute;n empeza desde casa</li>
			</ul>
		</p>